.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
*.iml
*.log

android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Flutter/Dart sinh ra
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/

# Các file tạm thời của các nền tảng
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
AGENTS.md
